<div *ngIf="user">
  <div class="card mx-auto ml-4 mr-4 border-white text-center p-3 bg-light">
    <h1 class="text-dark">
      Game of Thrones Game!
    </h1>
    <div class="justify-content mt-4">
      <button (click)="createPool()" [disabled]="loading" class="btn btn-primary justify-content">
        Create a New Pool
      </button>
    </div>
  </div>
  <div class="card mx-auto ml-4 mr-4 mt-3 border-white text-center p-3 bg-light">
    <h5 class="text-dark">Currently Entered Pools</h5>
    <div *ngFor="let pool of userPools$ | async | orderBy: 'poolName':false:true" class="justify-content">
      <button (click)="EnterPool(pool.id)" [disabled]="loading" class="mx-auto mt-2 bg-warning border-0 rounded">
        <div class="m-3">
          <h3>{{ pool.poolName }}</h3>
          <p>Number Of Players: <strong>{{ pool.numUsers }}</strong></p>
        </div>
      </button>
    </div>
  </div>
  <div class="card mx-auto text-center bg-light mt-3">
    <div class="card-body">
      <h5 class="text-dark">Select a Pool to Join</h5>
      <div *ngFor="let pool of pools$ | async | orderBy: 'poolName':false:true">
        <button (click)="joinPool(pool.id)" [disabled]="loading" class="mx-auto mt-2 bg-success border-0 rounded">
          <div class="m-3">
            <h3>{{ pool.poolName }}</h3>
            <p>Entry Fee: <strong>{{ EntryFeeFormat(pool.poolEntryFee) }}</strong></p>
            <p>Number of Players: <strong>{{ pool.numUsers }}</strong></p>
          </div>
        </button>
      </div>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
</div>
