<div *ngIf="user">
  <div class="card mx-auto ml-4 mr-4 border-white text-center p-3 bg-light ">
    <div class="card-title">
      <h3><strong>Game of Thrones Game</strong></h3>
    </div>
    <div class="card-body">
      <div class="row mb-2 border-bottom border-dark">
        <h5 class="col-3 pl-0 pr-1 border-right">
          Character
        </h5>
        <h5 class="col-3 pl-1 pr-0 border-right">
          Alive?
        </h5>
        <h5 class="col-3 pl-1 pr-0 border-right">
          Dead?
        </h5>
        <h5 class="col-3 pl-1 pr-0 border-right">
          Turns into White Walker
        </h5>
      </div>
      <div *ngFor="let character of characters$ | async">
        <div class="row mb-2 pb-2 border-bottom">
          <p class="col-3 pl-0 pr-1 border-right">
            {{ character.first }} {{ character.last }}
          </p>
          <div class="col-3 border-right inputCell">
            <input class="input" 
              name="{{ character.first }}_{{ character.last }}"
             (click)="AddSelection(character.first, character.last, 'alive')" 
             [checked]="alreadyChosenByUser(character.first, character.last, 'alive')"
             type="radio">
          </div>
          <div class="col-3 border-right inputCell">
            <input class="input" 
            name="{{ character.first }}_{{ character.last }}" 
            (click)="AddSelection(character.first, character.last, 'dead')" 
            [checked]="alreadyChosenByUser(character.first, character.last, 'dead')"
            type="radio">
          </div>
          <div class="col-3 border-right inputCell">
            <input class="input" 
            *ngIf="DeadSelected(character.first, character.last)" 
            (click)="WhiteWalkerSelectionToggle(character.first, character.last)" 
            [checked]="alreadyChosenByUser(character.first, character.last, 'whitewalker')"
            type="checkbox">
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
</div>
